 /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      background-color: transparent;
      margin-bottom: 0;
      border-radius: 0;
      border: 0;
      /*border-bottom: solid white;*/
    }
    
    /* Change font color of the left side of the nav bar to white*/
    .navbar-default .navbar-nav > li > a {
      color : white !important;
    }

    /* White background when mouse hovers the Menu text*/
    .navbar-nav li a:hover, .navbar-nav li.active a {
      color: black !important;
      background-color: #fff !important;
    }

    /*Underline left side of the navbar*/
    .navbar-default .navbar-brand{
      color: white !important;
      border-bottom: solid white;
    }

    /* Underline right side of the navbar*/
    .navbar .navbar-nav {
      float: none;
      border-bottom: solid white;
    }

     /*-- change navbar dropdown color --*/
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
      background-color:transparent; 
      color: white;
    }

    /*change the color of the drop down icon when being viewed on smaller screens.*/
    .navbar .navbar-toggle .icon-bar{
      background-color: white;
    }

  	/*font color of link stays black when hovered */
  	a:link{
  		text-decoration: none;
  	}

    .jumbotron{
      background-color: transparent;
      color: white;
    }

    /*Make input form narrower*/
    .container.custom-container {
      margin-top: 30px;
      padding: 0 280px;
      padding-bottom: 30px;
    }

    /*set spacing in the "panel", "flip" dropdown*/
    .panel, .flip {
      padding: 5px;
     }

    .flip .a{
      color: white !important;
     }

     /*hide "flip" dropdown initially*/
     .panel {
       padding: 20px;
       /*display: none;*/
       background-color: transparent;
     }

     html, body{
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }

    /* Resize input forms when viewed on a mobile */
    @media (max-width: 978px) {
      .container.custom-container{
        padding: 25px;
      }
      
      /*#header{
        background-position: bottom center;
      }*/

      .info{
        padding: 25px;
      }
      /*set opacity when on smaller view*/
      .panel{
        display: none;
        background: black;
        opacity: 0.8;
      }
      /*investment goal tab*/
      /*.nav-tabs{
        font-size: 13px;
      }*/
    }

    @media (max-width: 768px) {
        /*Remove bottom border on the left side of the navbar*/
      .navbar-default .navbar-brand{
        border-bottom: 0px;
      }
      /*set navbar opacity on smaller screens*/
      .navbar{
        background: black;
        opacity: 0.8;
      }
      .jumbotron p{
        font-size: 15px;
        font-weight: bold;
      }
    }
